@page
@model CantinaUnitBV.Pages.Recipes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table id="recipesTable" class="table">
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Ingredients
        </th>
        <th>
            Available
        </th>
        <th>
            Quantity
        </th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script src="~/js/Recipes/Recipes.js" asp-append-version="true"></script>
